.page-section{
    padding: 1.7rem 0;

    @media (min-width: 800px){
        padding: 4.5rem 0;
    }

    &--blue{
        background-color: $mainBlue;
        color: white;
    }
    &--testimonials{
        background-color: #e0e6ef;
    }
    @media (min-width: 800px){
    &--testimonials{
        background-image: url(../images/testimonials-bg.jpg);
        background-position-y: top;
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        margin-bottom: 0;
    }
}

}